body{
  font-family: 'Yeseva One', cursive;
  height: 100%;
  background-color: #FBEDDA;
}

html{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FBEDDA; /* Changer la couleur de fond selon vos besoins */
  z-index: 1000; /* Assurez-vous qu'il est au-dessus d'autres éléments si nécessaire */
}

.nav-item {
  margin-right: 20px;
  margin-left: 20px;  /* Ajustez l'espacement entre les éléments de navigation selon vos besoins */
}

li {
  list-style-type: none;
}

.nav-items-container {
  flex: 1;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.logo-container {
  flex: 1;
}

.coq-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo {
  width: 170px;
}

.coq {
  width: 50px;
}

.navbar-perso a {
  color: black;
  text-decoration: none;
  font-family: 'Yeseva One';
  font-size: 20px;
}

.nav-link {
  color:red;
}


.nav-items-container {
  flex: 1;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-left: 20px; /* Ajustez l'espacement entre les éléments de navigation selon vos besoins */
}

.container-perso {
  background-image: url("images/Photo\ 10-11-2021\ 11\ 20\ 32.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 70%;
  min-height: 40vh;
  width: 100%;
}

.banner {
  font-family: 'Yeseva One', cursive;
  font-size: 100px;
  color: #fbedda;
}
/* Style des boutons de section */
.section-buttons {
  text-align: center;
  margin-top: 10px;
}

.section-button {
  border: none;
  background-color: #fbedda;
  padding: 10px 20px;
  margin: 0 30px;
  cursor: pointer;
  font-size: 30px;
  transition: background-color 0.3s;
  border-bottom: 1px solid #f7d298;
}

.section-button:hover {
  background-color: #f7d298;
}


.menu {
  padding: 60px;
  display: flex;
  border: 1px solid lightgrey;
  margin-top: 70px;

}

.card-menu {
  max-width: 100%;
  border-bottom: 1px solid lightgrey;
  padding-top: 20px;
}

.carte {
  font-family: 'Yeseva One', cursive;
  font-size: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid lightgrey;
  width: auto;
  text-align: center;
}

.card-title {
  font-family: 'Yeseva One', cursive;
  font-size: 24px;
  padding-left: 1rem;
}

.card-menu-item {
  max-width: 100%;
}

.card-infos {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 100;
  padding-left: 2rem;
}

.price {
  font-family: 'Yeseva One', cursive;
  font-size: 16px;
  padding: 10px 0;
}

.price-boissons {
  font-family: 'Yeseva One', cursive;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 300px;
}

.category-drinks {
  font-family: 'Yeseva One', cursive;
  font-size: 30px;
  padding-left: 1rem;
  margin-bottom: 50px;
  margin-top: 30px;
}

.brunch-price {
  font-family: 'Yeseva One', cursive;
  font-size: 28px;
  padding: 10px 0;
}

.in-card {
  padding-left: 2rem;
}

.in-card-infos {
  padding-left: 4rem;
}

.in-card-infos-drinks {
  padding-left: 4rem;
  font-size: 18px;
  font-style: italic;
  font-family: 'Noto Sans', sans-serif;
  color: #000343;
}

.quantity {
  font-family: 'Yeseva One', cursive;
  font-size: 15px;
  font-style: italic;
  padding-left: 30px;
  margin-bottom: 0.5rem;
}

.quantity-tea {
  font-family: 'Yeseva One', cursive;
  font-size: 20px;
  font-style: italic;
  padding-left: 20px;
}

.circle-icon {
  display: inline-block;
  width: 30px; /* Ajustez la taille du cercle selon vos besoins */
  height: 30px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  line-height: 50px;
  margin: 3px;
  background-color: #FBEEDA /* Espace entre les icônes */
}

footer {
  background-color: #FBEEDA;
  font-size: 18px;
  margin: 0 auto;
  padding: 40px;
  margin-top: 30px;
  border-top: 0.5px solid #f7d298;
  font-family: 'Yeseva One', cursive;
}

footer a {
  color: black;
  font-family: 'Yeseva One', cursive;
  text-decoration: none;
}

footer a:hover {
  color: #f7d298;
}

.contact{
  margin-bottom: 1rem;
}

.text{
  font-family: 'Yeseva One', cursive;
  text-align: center;
  font-size:45px;
  margin-top: 150px;
  margin-bottom: 100px;
}

.copyright {
  text-align: center;
  margin-bottom: 0px;
  font-family: 'Yeseva One', cursive;
}
