*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth !important;
}

body{
  font-family: 'Yeseva One', cursive;
  height: 100%;
  background-color: #FBEDDA;
}


li {
  list-style-type: none;
}

.navbar{
  background-color: #FBEEDA;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight:300;
  line-height: 1.4;
  font-family: 'Work Sans', sans-serif;
}

.nav-item {
  margin-right: 20px;
  margin-left: 20px;  /* Ajustez l'espacement entre les éléments de navigation selon vos besoins */
}

.logo {
  width: 170px;
}

.icone {
  width: 300px;
  margin-top: 10px;
}

.coq {
  width: 70px;
}


.banner {
  font-family: 'Yeseva One', cursive;
  font-size: 100px;
  color:#FBEDDA
}

.intro {
  font-family: 'Yeseva One', cursive;
  font-size: 30px;
  margin: 60px 90px 60px 90px;
}

.description {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  text-align: center;
  font-size: 30px;
}

.product-list {
max-width: 800px;
margin: auto;
padding: 2rem;
background-color: #FBEEDA;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product-list h2 {
color: black;
}

ul {
list-style-type: none;
padding: 0;
}

.list {
padding: 0.5rem 0;
border-bottom: 1px solid #e0e0e0;
}

li:last-child {
border-bottom: none;
}

.container-perso {
  background-image: url("images/Photo\ 16-09-2021\ 11\ 30\ 35.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 59%;
  min-height: 40vh;
  width: 100%;
  margin-top: 8rem;
}

@media (max-width: 767px) {
  .container-perso {
    margin-top: 0px !important;
  }
  .nav-link {
    color: black;
    text-decoration: none;
    font-family: 'Yeseva One';
    font-size: 16px;
    text-transform: uppercase;
  }
  nav.fixed-top {
    position: relative; /* Remplacez la classe fixed-top par les styles désirés */
  }
  .coq {
    width: 50px;
  }
}

footer {
  background-color: #FBEEDA;
  font-size: 18px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  border-top: 0.5px solid #f7d298;
  font-family: 'Work sans', sans-serif;
}

footer a {
  font-family: 'Yeseva One', cursive;
  text-decoration: none;
  color: #212529;

}

footer a:hover {
  color: brown;
}

.nav-link-footer {
  text-decoration: none;
  font-family: 'Yeseva One';
  font-size: 16px;
}

.text{
  font-family: 'Yeseva One', cursive;
  text-align: center;
  font-size:45px;
  margin-top: 150px;
  margin-bottom: 100px;
}

.hour {
  font-family: 'Yeseva One', cursive;
  font-size: 16px;
}

.copyright {
  text-align: center;
  margin-bottom: 0px;
  font-family: 'Yeseva One', cursive;
}


@media (max-width: 1300px) {
  .navbar-nav .nav-link {
    font-size: 16px; /* Ajustez la taille de la police selon vos besoins */
  }
}
