body{
  font-family: 'Yeseva One', cursive;
  height: 100%;
  background-color: #FBEDDA;
}

li {
  list-style-type: none;
}

.navbar{
  background-color: #FBEEDA;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-family: 'Yeseva One';
  font-size: 24px;
  text-transform: uppercase;
}

.nav-item {
  margin-right: 20px;
  margin-left: 20px;  /* Ajustez l'espacement entre les éléments de navigation selon vos besoins */
}

.logo {
  width: 170px;
}

.icone {
  width: 300px;
  margin-top: 10px;
}

.coq {
  width: 70px;
}

.banner {
  font-family: 'Yeseva One', cursive;
  font-size: 100px;
  color:#FBEEDA;
}

.intro {
  font-family: 'Yeseva One', cursive;
  font-size: 30px;
  margin: 60px 90px 60px 90px;
}

.container-perso {
  background-image: url("images/image004.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 40vh;
  width: 100%;
  margin-top: 8rem;
}

@media (max-width: 767px) {
  .container-perso {
    margin-top: 2rem;
  }
  .nav-link {
    color: black;
    text-decoration: none;
    font-family: 'Yeseva One';
    font-size: 16px;
    text-transform: uppercase;
  }
  .coq {
    width: 50px;
  }
  nav.fixed-top {
    position: relative; /* Remplacez la classe fixed-top par les styles désirés */
  }
}

.circle-icon {
  display: inline-block;
  width: 30px; /* Ajustez la taille du cercle selon vos besoins */
  height: 30px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  line-height: 50px;
  margin: 3px;
  background-color: #FBEEDA /* Espace entre les icônes */
}

.book {
  font-family: 'Yeseva One', cursive;
  font-size: 55px;
  margin: 30px 20px;
  text-align: center;
}

.book-2 {
  font-family: 'Yeseva One', cursive;
  font-size: 20px;
  margin: 30px 20px;
  text-align: center;
}

.steps {
  font-family: 'Yeseva One', cursive;
  font-size: 60px;
  margin: 80px 20px;
  text-align: center;
}

.step-number {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color:#f7d298;
  color: white;
  text-align: center;
  border-radius: 50%;
  margin-right: 7px;
  font-weight: bold;
}


.QRcode {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: block;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optionnel : centrer verticalement sur toute la hauteur de la fenêtre */
}

footer {
  background-color: #FBEEDA;
  font-size: 18px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  border-top: 0.5px solid #f7d298;
  font-family: 'Work sans', sans-serif;
}

footer a {
  font-family: 'Yeseva One', cursive;
  text-decoration: none;
  color: #212529;

}

footer a:hover {
  color: brown;
}

.nav-link-footer {
  text-decoration: none;
  font-family: 'Yeseva One';
  font-size: 16px;
}

.text{
  font-family: 'Yeseva One', cursive;
  text-align: center;
  font-size:45px;
  margin-top: 150px;
  margin-bottom: 100px;
}

.hour {
  font-family: 'Yeseva One', cursive;
  font-size: 16px;
}

.copyright {
  text-align: center;
  margin-bottom: 0px;
  font-family: 'Yeseva One', cursive;
}


@media (max-width: 1300px) {
  .navbar-nav .nav-link {
    font-size: 12px; /* Ajustez la taille de la police selon vos besoins */
  }
}
