body{
  font-family: 'Yeseva One', cursive;
  height: 100%;
  background-color: #FBEDDA;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FBEDDA; /* Changer la couleur de fond selon vos besoins */
  z-index: 1000; /* Assurez-vous qu'il est au-dessus d'autres éléments si nécessaire */
}

.nav-item {
  margin-right: 20px; /* Ajustez l'espacement entre les éléments de navigation selon vos besoins */
}

li {
  list-style-type: none;
}

.navbar-perso {
  margin: 0 20px 0 20px;
  padding: 10px 0 10px 0; /* Changer la couleur de fond selon vos besoins */
}

.logo-container {
  flex: 1;
}

.coq-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.coq {
  width: 50px;
}


.nav-items-container {
  flex: 1;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-left: 20px; /* Ajustez l'espacement entre les éléments de navigation selon vos besoins */
}


.logo-container {
  flex: 1;
}

.coq-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.nav-items-container {
  flex: 1;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-left: 20px; /* Ajustez l'espacement entre les éléments de navigation selon vos besoins */
}

.banner {
  font-family: 'Yeseva One', cursive;
  font-size: 100px;
  color:#FBEEDA;
}

.intro {
  font-family: 'Yeseva One', cursive;
  font-size: 30px;
  margin: 60px 90px 60px 90px;
}

.logo {
  width: 170px;
}

.icone {
  width: 200px;
  margin-top: 10px;
}

.navbar-perso a:hover {
  color: brown;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-family: 'Yeseva One';
  font-size: 24px;
  text-transform: uppercase;
}
.container-perso {
  background-image: url("images/image004.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 40vh;
  width: 100%;
}

.circle-icon {
  display: inline-block;
  width: 30px; /* Ajustez la taille du cercle selon vos besoins */
  height: 30px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  line-height: 50px;
  margin: 3px;
  background-color: #FBEEDA /* Espace entre les icônes */
}

.book {
  font-family: 'Yeseva One', cursive;
  font-size: 55px;
  margin: 30px 20px;
  text-align: center;
}

.book-2 {
  font-family: 'Yeseva One', cursive;
  font-size: 20px;
  margin: 30px 20px;
  text-align: center;
}

.steps {
  font-family: 'Yeseva One', cursive;
  font-size: 60px;
  margin: 80px 20px;
  text-align: center;
}

.step-number {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color:#f7d298;
  color: white;
  text-align: center;
  border-radius: 50%;
  margin-right: 7px;
  font-weight: bold;
}


.QRcode {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: block;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optionnel : centrer verticalement sur toute la hauteur de la fenêtre */
}


footer {
  background-color: #FBEEDA;
  font-size: 18px;
  margin: 0 auto;
  padding: 40px;
  margin-top: 30px;
  border-top: 0.5px solid #f7d298;
  font-family: 'Yeseva One', cursive;
}

footer a {
  color: black;
  font-family: 'Yeseva One', cursive;
  text-decoration: none;
}

footer a:hover {
  color: #f7d298;
}

.contact{
  margin-bottom: 1rem;
}

.text{
  font-family: 'Yeseva One', cursive;
  text-align: center;
  font-size:45px;
  margin-top: 150px;
  margin-bottom: 100px;
}

.copyright {
  text-align: center;
  margin-bottom: 0px;
  font-family: 'Yeseva One', cursive;
}
